pipeline/pl_inquest_pop_data_test.json
{
	"name": "pl_inquest_pop_data_test",
	"properties": {
		"description": "Population data test pipeline",
		"activities": [
			{
				"name": "File Validation",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DsCovidSource",
						"type": "DatasetReference"
					},
					"timeout": "0.00:00:59",
					"sleep": 10
				}
			},
			{
				"name": "Column Count",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "File Validation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DsCovidSource",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Conditional Count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Column Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@lessOrEquals(activity('Column Count').output.columnCount,13)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy to Sink",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.04:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "indic_de,geo\\time",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "indic_de,geo\\time",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2008 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2008 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2009 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2009 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2010 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2010 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2011 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2011 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2012 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2012 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2013 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2013 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2014 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2014 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2015 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2015 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2016 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2016 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2017 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2017 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2018 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2018 ",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "2019 ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "2019 ",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DsCovidSource",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DSCovidDesDL",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}