pipeline/pl_ingest_ecdc_data.json
{
	"name": "pl_ingest_ecdc_data",
	"properties": {
		"activities": [
			{
				"name": "Lookup File List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_ecdc_file_list",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop for each file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup File List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup File List').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Cases And Deaths Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_ecdc_raw_csv_http",
									"type": "DatasetReference",
									"parameters": {
										"relativeUrl": {
											"value": "@pipeline().parameters.RelativeURL",
											"type": "Expression"
										},
										"baseUrl": {
											"value": "@pipeline().parameters.BaseURL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ecdc_raw_csv_dl",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@pipeline().parameters.FileName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"BaseURL": {
				"type": "string"
			},
			"RelativeURL": {
				"type": "string"
			},
			"FileName": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-09-06T09:47:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}